body{
    margin: 0;
    overflow: hidden;
}

.bg-wrap{
    position: fixed;
    z-index: -1;
    top:0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    overflow: hidden;
    
}

.left-b{
    flex-shrink: 0;
    width: 100%;
    max-width: 1200px;
    background: url("./images/left-b.png") repeat-y;
}


.center-bg,
.right-b {
    display: none;

}

@media only screen and (min-width: 1200px) {
    .right-b {
        display: block;
        flex-grow: 1;
        background: url("./images/right-b.png") repeat-y;   
 }    
}


@media only screen and (min-width: 2400px) {
    .right-b{
     width: 1200px;
     flex-grow: 0;
     flex-shrink: 0;

    }

    

    .center-bg{
        display: block;
        flex-grow: 1;
        background: url("./images/center.png") repeat;
    }
}

